body {
    font-family: "Oxanium", cursive;
    background-color: #000000;
    color: #ffffff;
}

body::before{
    content: ""; 
    background-image: url(../imagens/imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.cabecalho .logo {
    width: 250px;
}

.selecao-de-personagens {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;

}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    gap: 20px;
}

.selecao-de-personagens .personagens .titulo {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 3px solid #47f4ff;
    width: 200px;
    text-align: center;
}

.lista-de-personagens .personagem img {
    width: 75px;
    height: 120px;
}

.lista-de-personagens .personagem.selecionado {
    box-shadow: 0px 0px 18px 4px #0271f7;
}

.personagem-selecionado {
    text-align: center;
    max-height: 500px;

}

.personagem-selecionado .personagem-grande{
    width: 250px;
    height: 250px;
}

.personagem-selecionado .nome-personagem{
     border-bottom: 2px solid #47f4ff;
     letter-spacing: 2px;
     text-transform: uppercase;    
}

.personagem-selecionado .descricao-personagem{
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    width: 400px;
}